body{
	background-color: #ddf5f5!important;
	margin-left: 2%!important;
	margin-right: 2%!important;
}
label{
	font-size: 25px;
	text-align: left!important;
	color: #b33c3c;
}

input[type="button"] {
	position: relative;
    margin-left: 40%;
    width: 20%;
}

select, input[type="text"]{
	width: 50%!important;
}
#errorMessage{
    text-align: center;
    color: red;
}
span{
	font-size: 18px;
}
nav{
	background-color: #9bebed!important;
}
#updateFormHeader{
	text-align: center;
    margin-top: 0px;
    color: #4153a5;
    font-weight: 600;
    font-family: sans-serif;
}