/* #searchCriteriaForm{
	display: none;
} */

input[type="button"]{
	display: none;
}

#printButton{
	display: none;
}

#downloadButton{
	display: none;
}

table th, table td{
	display: table-cell!important;
}

a{
	display: none;
}